[Unit]
Description=initial setup for user
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/bash %h/opt/user-initial-setup/service.sh

[Install]
WantedBy=graphical-session.target
